html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'PingFang SC Regular','Microsoft Yahei',sans-serif;
}

html{
    background: #2d2d2d;
    overflow-y: scroll;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
}
header {
    margin: 8px 0;
}
header > .home-menu{
    background: inherit !important;
    height: 54px;
    display: flex;
}

header > .home-menu > a.pure-menu-heading, header > .home-menu > ul, header > .home-menu > ul > li{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: normal !important;
}

header > .home-menu > a.pure-menu-heading{
    color: white;
    font-size: 1.5em;
}

header > .home-menu > ul > li > a{
    color: #ced4d9;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
    background: inherit !important;
    outline: none;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.pure-menu-selected > a{
    color: #f79826;
}

a:hover, a:focus{
    outline: none;
}

main{
    background-color: #ebf4fa;
    position: relative;
}

footer{
    text-align: center;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.8em;
    padding: 25px;
    line-height: 24px;
}

footer .copyright{
    color: #fff;
    text-decoration: none;
}

footer .copyright:hover{
    color:#f79826;
}
footer .copyright:before{
    content: '';
    display: inline-block;
    background: url(mail.png) no-repeat center;
    background-size: 100%;
    vertical-align: text-bottom;
    width: 25px;
    height: 18px;
    margin: 0 10px 0 40px;
}

footer iframe{
    vertical-align: middle;
}

.home {
    content:'';
    width:120px;
    height:36px;
    background: url(logo-pool.png) no-repeat center;
    background-size:100%;
    display:inline-block;
}